<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Сервис уведомлений{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="Boris Gribovskiy">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet" media="screen">
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="container">
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    <!-- scripts -->
    <script src="{{url_for('static', path='/main.js')}}" type="text/javascript"></script>
    {% block js %}{% endblock %}

  </body>

</html>
