{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Сервис уведомлений</h1>
  <p>Создан в соответствии с <a href="https://www.craft.do/s/n6OVYFVUpq0o6L"><strong>тестовым заданием для кандидатов-разработчиков</strong></a></p>
  <p><a href="https://gitlab.com/boangri/fbrq-test-job">Исходный код проекта</a></p>
  <p><a href="/docs">API проекта</a></p>
  <p><a href="https://tj-ui.xland.ru">Административная панель</a></p>
  <hr><br>
</div>

{% endblock %}
